# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
Wednesday
*.exe
*.exe~
*.dll
*.so
*.dylib
/wed
cmd/wed/wed

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# secrets
*.key

# local man test
man/*.gz

# scripts living in the root (automated developement stuffs)
/*.sh

