<!doctype html>
<html>
	<head>
		<title>Wensday</title>
		<meta charset="utf-8" />
		<!-- Stylesheets -->
		<link rel="stylesheet" href="style/wed-style.css" />
		{{ range $url := .StylePaths }}
		<link rel="stylesheet" href="{{ $url }}" />
		{{ end }}
		<!-- Scripts -->
		<script type="module" src="script/wed-utils.js"></script>
		{{ range $url := .ScriptPaths }}
		<script defer type="module" src="{{ $url }}"></script>
		{{ end }}
	</head>
	<body>
		{{ template "app" }}
	</body>
</html>
