/* --- Theming --- */

:root {
    color-scheme: light dark;
    --color-bg: whitesmoke;
    --color-bg-alt: #d0d0d0;
    --color-text: #333333;
    --color-text-alt: #444444;
    --color-accent: purple;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #333333;
        --color-bg-alt: #444444;
        --color-text: whitesmoke;
        --color-text-alt: #d0d0d0;
    }
}

:root:has(#theme-switcher [value="light"]:checked) {
    color-scheme: light;
    --color-bg: whitesmoke;
    --color-bg-alt: #d0d0d0;
    --color-text: #333333;
    --color-text-alt: #444444;
}

:root:has(#theme-switcher [value="dark"]:checked) {
    color-scheme: dark;
    --color-bg: #333333;
    --color-bg-alt: #444444;
    --color-text: whitesmoke;
    --color-text-alt: #d0d0d0;
}

/* --- CSS normalization --- */

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-text, whitesmoke);
    background-color: var(--color-bg, #333333);
}

*, *::before, *::after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, menu {
    margin: 0;
    padding: 0;
}

menu {
    list-style-type: none;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

.wed-component {
    display: contents;
}

/* --- Utilities --- */

.flex-center {
    display: flex;
}
.inline-flex-center {
    display: inline-flex;
}
.flex-center, .inline-flex-center {
    place-content: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

