<!DOCTYPE html>
<html>
	<head>
		<title>Wednesday</title>
		<meta charset="UFT-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Stylesheets -->
		{!import{ styles }!}
		<!-- Scripts -->
		{!import{ scripts }!}
	</head>
	<body>
		{!import{ dynamics }!}
		{{ use "app" ( props "title" ( list "Wed" "nesday" ) ) }}
	</body>
</html>
